@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');


/* Add a black background color to the top navigation bar */
 

  /* Style the search box inside the navigation bar */
  .topnav input[type=search] {
    font-family: 'Playfair Display', serif;
    color: #341f0fa2;
    padding-left: 15px;
    font-size: 20px;
    border-radius: 25px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background: rgba(152, 154, 152, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  }

  

  .footer{
    position: absolute;
    height: auto;
    flex-shrink: 0;
    background: #849280;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25) inset;
    scroll-padding-bottom: 0px;
    flex-direction: column;
  }

  .aboutus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 4%;
    padding-top: 2%;
    text-decoration-line: underline;
  }

  .address{
    justify-content: left;
    color: whitesmoke;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 30%;
    display: fit-content;
    }

  .copyright{
    color: whitesmoke;
    font-family: "Playfair Display", serif;
    padding-left:4%;
  }

  .copyrightbox{
    border-top: 2px solid #596A54;
    background: #849280;
    height: 30px;
    display: flex;
    position: relative;
    flex-shrink: 0;
    bottom: 0;
    border-width: 100%;
  }

  .contact{
    font-family: "Playfair Display", serif;
    color: #341F0F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    right: 20%;
  }

  .contact:hovor {
    color: darkred;
  }

  .thaif{
    font-family: 'K2D', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Sarabun', sans-serif;
  }
